 html, body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
  }

::selection {
  background: #9CA3AF;
  color: #101010;
}
::-moz-selection {
  background: #9CA3AF;
  color: #101010;
}
@tailwind base;
@tailwind components;
@tailwind utilities;